{% extends 'main.html' %}
{% load static %}
{% block title %}| BlogPage{% endblock title %}
{% block content %}
<div class="container">
    <div class="layout">
        <div class="card project">
        <div class="card__body">
            <form class="form" method="POST" enctype="multipart/form-data">
                <!-- Input:Text -->
                {% csrf_token %}
    
                <p>Are you Sure you want to delete : " {{blogobj.blgoTiltle}} " ? </p>                
            
            <input class="btn btn--sub btn--sm  my-md" type="submit" value="YES" />
            <a class="btn btn--sub btn--sm  my-md" href="{% url 'blog_list' %}">Back</a>    
        </form>

    </div>

</div>
{% endblock content %}


