{% extends 'main.html' %}
{% load static %}
{% block title %}| BlogPage{% endblock title %}
{% block content %}
 <div class="container">
  <div class="layout">
    
    <div class="devInfo">
        <div class="grid grid--two">
            {% for category in categoryList%}  
          <div class="column">
            <div class="card project">
              <a href="single-project.html" class="project">
                <div class="card__body">
                  <h3 class="project__title">{{category.name}}</h3>
                  <small>By: - Imtiyaz</small>
                  <hr>
                  
                  <p>{{category.cat_intro}}</p>
                  <p><a href="{% url 'blog_listCat' category.name %}">Details</a></p>
                  <div class="project__tags">
                    <span class="tag tag--pill tag--main">
                      <small>NextJS</small>
                    </span>
                    <span class="tag tag--pill tag--main">
                      <small>GraphQL</small>
                    </span>
                    <span class="tag tag--pill tag--main">
                      <small>TypeScript</small>
                    </span>
                  </div>
                </div>
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>


<!--
  <div class="devInfo">
  <h3 class="devInfo__title">Skills</h3>
  <div class="devInfo__skills">
    <div class="devSkill">
      <h4 class="devSkill__title">JavaScript</h4>
      <p class="devSkill__info">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae neque voluptatum ut? Quaerat, ea
        cumque! Dolorum provident esse molestias commodi odit sapiente quod quasi corrupti obcaecati? Nobis
        ex temporibus quaerat!
      </p>
    </div>
    <div class="devSkill">
      <h4 class="devSkill__title">React</h4>
      <p class="devSkill__info">
        Smet consectetur adipisicing elit. Omnis, nihil? Accusamus aspernatur aut debitis vitae quaerat
        nihil fugiat, doloremque nesciunt alias pariatur maxime unde, nam saepe laborum at odit labore.
      </p>
    </div>
    <div class="devSkill">
      <h4 class="devSkill__title">Express(Nodejs)</h4>
      <p class="devSkill__info">
        Auae error deleniti aperiam enim nisi nesciunt, ratione eveniet eos fuga ad recusandae mollitia!
        Facere earum, distinctio nihil recusandae ipsum nesciunt. Possimus, ex. Officia maxime nihil
        inventore cum tenetur! Veritatis sapiente libero ducimus nesciunt itaque, placeat inventore sint
        blanditiis?
      </p>
    </div>

-->


{% endblock content %}
